@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#search-input {
  animation: cursor-blink 1.5s steps(2) infinite;
}