@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#search-input {
  animation: cursor-blink 1.5s steps(2) infinite;
}

.item {        
    transition: visibility 0s linear 0.2s, opacity 0.2s ease-in-out;
}

.item.insight {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.item.outsight {
    opacity: 0; 
    visibility:hidden;
}